.header-container{
  font-family: "Sohne",Arial,sans-serif;
  /* font-size: 0.875rem; */
  font-weight: 700;
  line-height: 1.41;
  letter-spacing: 0.05em;
  color: #181818;
  -webkit-font-smoothing: antialiased;
}

.paragraph-header{
  font-family: "Sohne",Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.41;
  letter-spacing: 0.05em;
  color: #181818;
  -webkit-font-smoothing: antialiased;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 40px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-h1{
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}

.modal-pari{
  font-size: 20px;
  margin: 0 10px 0 10px;
  text-align: center;
}

.modal-button{
  margin-bottom: 30px;
  margin-top: -20px;
}

.links-container{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fab{
  margin-right: 30px;
}

.profile-link{
  font-weight: 700;
  margin-right: 30px;
  text-align: center;
}

.email-contact{
  font-size: 30px;
  text-align: center;
}

/* .resume{
  margin-left: 30px;
} */

.fab:hover{
  color: red;
}
