body{
  font-weight: 400;
  line-height: 1.41;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.05em;
  color: #181818;
}
.footer-container{
  padding-top: 100px;
}

.footer{
  padding-top: 30px;
  background: #f7f7f7;
  border-top: 1px solid #e5e5e5;
  font-family: "DIN W01 Regular",Arial,sans-serif;
}

.container{
  width:100%;
  position: relative;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1.41;
}

* {
  box-sizing: border-box;
}

h4{
  letter-spacing: .05em;
  line-height: 1.41;
  margin: 0;
  font-weight: normal;
  color: #181818;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 3em;
  margin-inline-end: 0px;
}

.footer-nav{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 8px;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.footer-nav>li{
  margin-top: -1px;
}

li{
  display: list-item;
}

.email_signup{
  position: relative;
}

.submit-button{
  position: absolute;
  text-transform: uppercase;
  background: none;
  border: none;
  right: 0;
  padding: 0;
  margin-bottom: 1px;
  font-family: "DIN W01 Regular",Arial,sans-serif;
  letter-spacing: 0.1em;
}

input{
  overflow: hidden;
  line-height: 1.15;
  margin: 0;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: -internal-light-dark(buttontext, rgb(170, 170, 170));
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  font-size: 11px;
}

form{
  display: block;
  margin-top: 0em;
}

.email_signup .form-group{
  display: flex;
  align-items: center;
  margin-bottom: 0;
  line-height: 42px;
  padding-right: 60px;
  border-top: 1px solid #e5e5e5;
  height: 42px;
}

.form-control{
  text-transform: uppercase;
  font-family: "DIN W01 Regular",Arial,sans-serif;
  color: #181818;
  letter-spacing: 0.1em;    border-radius: 0;
  border: none;
  padding: 11.76471px 0;
  width: 100%;
  background: none;
}

.footer-nav_item{
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.footer-nav__link{
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  background: url(https://cdn.shopify.com/s/files/1/0302/7829/t/101/assets/ico-arrow-right.svg?v=4455697088453698434);
  background-position: right center;
  background-repeat: no-repeat;
  font-size: 0.75rem;
}

a{
  transition: all 0.4s linear;
  text-decoration: none;
  color: #181818;
}

.copyright{
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 3em;
  margin-inline-end: 0px;
}


/* Media Queries */
@media only screen and (min-width: 1025px){
  .footer{
    padding-bottom: 25px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1025px){
  .container{
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 1025px){
  .footer h4{
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 768px){
  .footer h4{
    max-width: 250px;
  }
}

@media only screen and (min-width: 768px){
  h4{
    font-size: .8125rem;
  }
}

@media only screen and (min-width: 768px){
  .footer-nav{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    margin-bottom: 40px;
    column-gap: 25px;
  }
}

@media only screen and (min-width: 768px){
  .form-group{
    margin-bottom: 28px;
  }
}
@media only screen and (min-width: 1025px){
  .form-nav__link{
    font-size: 0.6875rem;
  }
}

@media only screen and (min-width: 1025px){
  .copyright{
    font-size: 0.6875rem;
  }
}

@media only screen and (min-width: 1025px){
  .submit-button{
    font-size: 0.6875rem;
  }
}