body{
  font-weight: 400;
  line-height: 1.41;
  letter-spacing: 0.05em;
  font-family: "Sohne",Arial,sans-serif;
  min-height: 100vh;
  /* margin: 0; */
}

.page-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-side-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  border-right: #e5e5e5 1px solid;
  height: 100%;
  width: 50%;
}

.image-container{
  /* padding: 60px 0 0 60px; */
  /* padding: 60px 260px 0 0; */
  /* margin-left: -160px; */
  display: flex;
  justify-content: center;;
}

.form-button-area{
  display: flex;
  justify-content: center;
}

.text-container{
  display: flex;
  justify-content: center;
  margin-left: -150px;
  width: 100%;
}

.disclaimer{
  text-align: center;
  font-size: 11px;
  padding-top: 50px;
  /* width: 50%; */
  /* display: flex; */

}

.login-image{
  height: 85vh;
  /* align-self: flex-start; */
  display: flex;
  margin-top: 90px;
}

.form-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 300px; */
  /* margin-left: -200px; */
  /* padding-left: 355px; */
  width: 50%;
}

.title-one{
  display: flex;
  /* justify-content: center; */
  /* padding-right: -100px; */
  padding-left: 170px;
}

.title > .page-header{
  font-family: "Financier Display",serif;
  font-weight: 700;
  letter-spacing: normal;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
  /* display: flex;
  justify-content: center; */
}

.email-and-password{
  /* padding-left: 75px; */
  margin-left: 75px;
  display: flex;
  justify-content: center;
}

.page-header{
  /* font-family: "Financier Display",serif;
  font-weight: 700;
  letter-spacing: normal;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1; */
  padding-bottom: 20px;
}

.email-input{
  height: 40px;
  padding: 0 14px;
  border: 1px solid #181818;
  text-transform: uppercase;
  font-family: "DIN W01 Regular",Arial,sans-serif;
  color: #181818;
  letter-spacing: 0.1em;
  width: 50%;
  background: none;
  line-height: 1;
  border-radius: 0;
  overflow: visible;
  text-align: start;
  word-spacing: normal;
  text-indent: 0px;
  cursor: text;
  font: 400 13.3333px Arial;
  /* margin-left: 250px; */
}

.password-input{
  height: 40px;
  padding: 0 14px;
  border: 1px solid #181818;
  text-transform: uppercase;
  font-family: "DIN W01 Regular",Arial,sans-serif;
  color: #181818;
  letter-spacing: 0.1em;
  width: 50%;
  background: none;
  line-height: 1;
  border-radius: 0;
  overflow: visible;
  text-align: start;
  word-spacing: normal;
  text-indent: 0px;
  cursor: text;
  font: 400 13.3333px Arial;
  /* margin-left: 250px; */
}

.forgotten-password-link{
  transition: all 0.4s linear;
  text-decoration: none;
  color: #181818;
  text-align: right;
  font-size: 12px;
  display: flex;
  /* margin-left: 250px; */
  margin-top: 10px;
}

.button{
  margin-right: 0;
  background-color: #181818;
  color: #fff;
  outline: 0 none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  min-height: 60px;
  padding: 10px 20px;
  font-family: "DIN W01 Regular",Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin-top: 25px;
  /* margin-left: 250px; */
}

.button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* media queries  */

@media only screen and (min-width: 1025px){
  .left-side-container{
    padding-left:25px;
    padding-right: 25px;
  }
}

@media only screen and (min-width: 768px) {
  body{
    font-size: 0.75rem;
    box-sizing: border-box;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .form-container{
    font-size: 0.75rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .login-image{
    height: 50%;
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .customer-login{
    /* height: 50%; */
    /* width: 50%; */
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .email-and-password{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    /* background-color: aquamarine; */

  }
}

@media only screen and (min-width: 768px) {
  .email{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* background-color: orangered; */
    margin-left: -145px;
  }
}
@media only screen and (min-width: 768px) {
  .password{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* background-color: blue; */
    margin-left: -145px;
  }
}

@media only screen and (min-width: 768px) {
  .disclaimer{
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    margin-left: -75px;
    /* padding-right: -25px; */
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .form-button-area{
    margin-left: 80px;
    font-size: 0.75rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .title{
    /* margin-left: -140px; */
    /* background-color: orange; */
    /* padding-left: -400px; */
    margin-left: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .email-and-password{
    /* padding-left: -30px; */
  }
} 